/*~

/*/*~

/*/*/*~

sources/


rugged_box_for_batteries/BATTLE_PLAN.md
rugged_box_for_batteries/gcode/box_top_matrix_3_5_battery_clear_0_3mm_2025_11_listopad_17_0.4n_0.1mm_PLA_MINIIS_3h23m.gcode
rugged_box_for_batteries/pic/
rugged_box_for_batteries/session_claude_2025_11_listopad_18.log
rugged_box_for_batteries/stl/
